* {
    /*outline: 5px solid orange;*/
}

h1{
    font-family: cursive;
}

.bio {
    min-width:26rem;
    max-width:70rem;
    display:flex;
    height:9.2rem;
}
.bio h3{
    margin: 0;
}
.bilde{
    height:100px;
}

.bilde > p{
    margin-top: 0;
    font-size:small;
}
.bilde > img{
    width: 10rem;
}

.biotext{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    margin-left:5px; 
    width:100%;
}

.contact{
    margin-top:auto;
}

.contact > p{
    margin: 0;
    margin-top:auto;
}